{% set default_yaml = lookup('file', 'security/audit.yml') %}
{{ default_yaml | from_yaml | combine(opendistroforelasticsearch_securityconf_audit, recursive=opendistroforelasticsearch_securityconf_audit_recursive_merge) | to_nice_yaml }}
